.fetures {
    padding: 90px;
    padding-top: 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C5EAD3;
}

.fetures .image {
    position: relative;
}

.fetures .image .box {
    background-color: #FFFFFF;
    padding: 20px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: 1s;
    width: 30%;
}

.fetures .image .one {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fetures .image .two {
    position: absolute;
    top: 0px;
    right: 0px;
}

.fetures .image .three {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.fetures .image .four {
    position: absolute;
    bottom: 0px;
    left: 0px;
}


/* start anmtion */

.fetures .image .one,
.fetures .image .two,
.fetures .image .three,
.fetures .image .four {
    animation: floatIn 1.5s ease forwards, pulse 3s infinite;
    opacity: 0;
}

@keyframes floatIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

i {
    margin-right: 10px;
}

@media (max-width:767px) {
    .fetures .image .box {
        display: none;
    }
}